    <div>{{! footer}}
      {{#show-meta}}
      <div class="post-meta">
        <span title="post date" class="post-info post-date">Posted: {{{date}}}</span>
        <span title="last modification date" class="post-info post-mod-date">Last Modified: {{mod-date}}</span>
        <span title="author" class="post-info post-author">{{author}}</span>
        <span title="tags" class="post-info post-tags">Filed Under: {{{tag-links}}}</span>
      </div>
      {{/show-meta}}
      <script src="//code.jquery.com/jquery-latest.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/prettify/r298/prettify.js"></script>
      <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
      <script src="/media/js/main.js"></script>
      {{#google-analytics}}
      <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '{{google-analytics-id}}']);
        _gaq.push(['_trackPageview']);

        (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      </script>
      {{/google-analytics}}
      <div class="footer">
          <img class="avatar" src="https://driftingicebergs.com/public/iceberg.svg" />
          <p>Copyright &copy; 2012 - <span id="footerYear"></span> {{author}}</a>
              <script type="text/javascript">document.getElementById("footerYear").innerHTML = (new Date()).getFullYear();</script>
          </p>
      </div>
    </div>
